<section id="footer">
    <img src="../../../assets/images/wave2.png" class="footer-img">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/demo-logo.png" class="footer-box">
                <p>Subscribe to easy tutorials Youtube channel to watch more videos on,<br>
                   
                </p>
            </div>
            <div class="col-md-4">
                <p><b>CONTACT US</b></p>
                <p><i class="fa fa-map-marker"></i>World Trade Centre, South Africa</p>
                <p><i class="fa fa-phone"></i>+27 666 7890</p>
                <p><i class="fa fa-envelope-o"></i>XyZ@mail.co.za</p>
            </div>
            <div class="col-md-4">
                <p><b>SUBSCRIBE NEWSLETTER</b></p>
                <input type="text" class="form-control" placeholder="Your Email">
                <button class="btn btn-primary">Subscribe</button>
            </div>
        </div>
        <hr>
        <p class="copyright">Website created by Siweprodev</p>
    </div>
</section>
