<section id="banner">
<div class="container">
<div class="row">
<div class="col md-6">
    <p class="promo-tittle">THE BEST DIGITAL AGENCY</p>
    <p>Subscribe to easy tutorials and get the best learning experience,<br>
        in JS, TS and Angular
    </p>
    <a href="#"><img src="../../../assets/images/play.png" class="play" ></a>
   
</div>
<div class="col md-6 text-center" >
  <img src="../../../assets/images/home2.png" class="img-fluid"> 
</div>
</div>

</div>
<img src="../../../assets/images/wave1.png" class="wave1">
</section>
