<section class="contact">
    <div class="container  text-center">
        <p>Find us on social media</p>

        <div class="socials">
           <a href=""><img src="../../../assets/images/facebook-icon.png"></a>
           <a href=""><img src="../../../assets/images/instagram-icon.png"></a>
           <a href=""><img src="../../../assets/images/linkedin-icon.png"></a>
           <a href=""><img src="../../../assets/images/snapchat-icon.png"></a>
           <a href=""><img src="../../../assets/images/whatsapp-icon.png"></a>
           <a href=""><img src="../../../assets/images/twitter-icon.png"></a>
        </div>
    </div>

</section>
