<section id="Test">
  <div class="container">
     <h1 class="title text-center">WHAT CLIENTS SAY</h1>
<div class="row offset-1">
    <div class="col-md-5 testimonials">
        <p>The experience i had working with Siwe has been amazing, they take their clients first, <p>
        <img src="../../../assets/images/user1.jpg">
        <p class="user1"><b>Angelina</b><br>Co-founder</p>



</div>
<div class="col-md-5 testimonials">
    <p>The experience i had working with Siwe has been amazing, they take their clients first, <p>
    <img src="../../../assets/images/user2.jpg">
    <p class="user1"><b>Brandon</b><br>Director</p>

</div>
</div>
</div>
     

  
 </section>

