<section id="Services">
    <div class="container text-center">
        <h1 class="title">WHAT WE DO?</h1>
        <div class="row text-center">
            <div class="col-md-4 services">
                <img src="../../../assets/images/service1.png" class="serv">
<h4>Growth Market</h4>
<p>Subscribe to the things that are happening in real life</p>
 </div>
 <div class="col-md-4 services">
    <img src="../../../assets/images/service2.png" class="serv">
<h4>Growth Market</h4>
<p>Subscribe to the things that are happening in real life</p>
</div>
<div class="col-md-4 services">
    <img src="../../../assets/images/service3.png" class="serv">
<h4>Growth Market</h4>
<p>Subscribe to the things that are happening in real life</p>
</div>
 </div> 
 <button type="button" class="btn btn-primary">All Services</button>
</div>
</section>
<!-- <section id="services">
    <div class="container">
       <div class="row">
          <div class="col-12 section-intro">
             <h1>Our Services</h1>
             <div class="hline"></div>
          </div>
        
       </div>
       <div class="row">
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-landscape'></i>
             </div>
             <h4 class="title-sm mt-4">Graphic Designing</h4>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-coffee'></i>
             </div>
             <h4 class="title-sm mt-4">Codding</h4>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-image'></i>
             </div>
             <h4 class="title-sm mt-4">Photography</h4>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-check-shield'></i>
             </div>
             <h4 class="title-sm mt-4">Hacking</h4>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bx-laptop'></i>
             </div>
             <h4 class="title-sm mt-4">Web Designing</h4>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box">
                <i class='bx bxs-happy-heart-eyes'></i>
             </div>
             <h4 class="title-sm mt-4">UI Design</h4>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!</p>
          </div>
       </div>
    </div>
 </section> -->