<section id="about-us">
    <div class="container">
        <h1 class="title text-center">WHY CHOOSE US?</h1>
        <div class="row">
            <div class="col-md-6 about-us">
                <p class="about-title">Why we are different</p>
                <ul >
                    <li>We believe in doing busines with honesty</li>
                    <li>We believe in doing busines with honesty</li>
                    <li>We believe in doing busines with honesty</li>
                    <li>We believe in doing busines with honesty</li>
                    <li>We believe in doing busines with honesty</li>
                </ul>

            </div>
            <div class="col-md-6">
                <img src="../../../assets/images/network.png" class="img-fluid">
            </div>
        </div>

    </div>

</section>
